header {
  background-color: #4ea0ff;
  height: 140px;
  width: 100%;
  background-image: url("../img/pattern.png");
  background-size: 40% 200%;
  
}

#logo {
    height: 3rem;
    position: absolute;
    top: 80px;
    margin-left: 20px;
}

h1 {
    font-size: 3.5rem;
}

h2 {  
    color: grey;
    margin-top: -40px
}

a {
    color: #34b1e7;
    text-decoration: none;
}